<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.js"></script>
      <!-- bootstrap -->
      <link href="//cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
      <script src="//cdn.bootcss.com/bootstrap/3.0.3/js/bootstrap.js"></script>
      <!--<link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
      <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
      <link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/9.0.0/styles/vs.min.css"/>
      <link rel="stylesheet" href="//cdn.bootcss.com/lightgallery/1.3.8/css/lightgallery.min.css"/>

  </head>
  <body style="background-color: #F7F7F7">
  <div class="panel panel-default" style="border: 2px;border-radius: 2px;box-shadow:0 0 10px #636363;background-color: white">
      <div class="panel-heading" style="height: 70px;font-size: 20px;line-height: 50px;">
          <div style="float: left;">
          <a href="/" style="text-decoration: none;">
              <img style="width:50px;height:50px;float:left;" class="img-circle" src="/image/logo.jpg"/>
              &nbsp;&nbsp;<span style="align-content: center;">程序猿Hardy</span>
          </a>
          </div>
          <div style="float: left;padding-left: 40px;">
              <a href="/" style="text-decoration: none;"><span>主页</span></a>
              <a href="/" style="text-decoration: none;"><span>目录</span></a>
              <a href="/" style="text-decoration: none;"><span>关于我</span></a>
          </div>
          <div style="float: right;">
              <form class="search-form">
                  <input type="text" class="form-control" style="height: 40px;width: 160px;align-content: center;"  placeholder="搜索" />
              </form>
          </div>
      </div>
      <!--<div class="panel-body">

      </div>-->
  </div>
<div class="container">
    <!--<div class="col-xs-1"></div>-->
      <div class="col-xs-3 " style="text-align: center;border: 5px;border-radius: 2px;box-shadow:0 0 10px #636363;background-color: white" >
          <div class="base-info profile-block" >
              <img id="avatar" style="width:100px;height:100px;margin-top: 20px" src="/image/logo.jpg" class="img-circle" />
              <h2 id="name">吴向海</h2>
              <h3 id="title" style="margin: 1.6em 0em">会一些前端，懂一些后端，做过一些管理，弄过一些运维，搞过一些推广，我是一枚爱折腾的团队万金油</h3>
              <span id="location" class="text-muted"><i class="fa fa-map-marker"></i>中国 - 青岛</span><br/><br/>
              <a id="follow" class="btn btn-large btn-primary" target="_blank" href="https://github.com/dyc87112">关注我</a>
          </div>
          <div style="margin-top: 20px;">
              <table class="table" style="width: 100%;text-align: center;border: 2px;">
                  <tr>
                      <td style="width: 50%;">
                          <h4>70</h4>
                          <h3>文章</h3>
                      </td>
                      <td style="width: 50%;">
                          <h4>50</h4>
                          <h3>标签</h3>
                      </td>
                  </tr>
              </table>
          </div>

          <div>
              <table class="table">
                  <tr>
                      <td>
                          <a href="https://github.com/dyc87112" target="_blank" title="github" >
                              <i class="fa fa-github"></i>
                          </a>
                      </td>

                      <td>
                          <a href="http://git.oschina.net/didispace" target="_blank" title="git" >
                              <i class="fa fa-git"></i>
                          </a>
                      </td>

                      <td>
                          <a href="mailto:didi@potatomato.club" target="_blank" title="envelope" >
                              <i class="fa fa-envelope"></i>
                          </a>
                      </td>

                      <td>
                          <a href="http://weibo.com/2014605502" target="_blank" title="weibo" >
                              <i class="fa fa-weibo"></i>
                          </a>
                      </td>

                      <td>
                          <a href="/atom.xml" target="_blank" title="rss" >
                              <i class="fa fa-rss"></i>
                          </a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>

    <div th:each="article,article_list:${article_list}" >
    <div class="col-xs-6" style="width:45%;margin-left: 2%;border: 2px;border-radius: 2px;box-shadow:0 0 10px #636363;background-color: white;margin-bottom: 20px">
        <article id="post-spring-boot-1-5-x-feature-2" class="article article-type-post" itemscope="blogPost">
            <div id="article_list_2" class="article-inner" >
                <header class="article-header">
                <h1 itemprop="name">
                <a class="article-title" href="/spring-boot-1-5-x-feature-1/"><span th:text="${article.title}"></span></a>
                </h1>
                <div class="article-meta">
                <div class="article-date">
                <i class="fa fa-calendar"></i>
                <a href="/spring-boot-1-5-x-feature-1/">
                <time datetime="datetime" itemprop="datePublished"><span th:text="${article.addTime}"></span></time>
                </a>
                <i class="fa fa-folder"></i>
                <a class="article-category-link" href="/categories/Spring-Boot/"><span th:text="${article.lable}"></span></a>
                </div>
                </div>
                </header>

                <div style="margin-top: 20px;height: 60px;overflow:hidden;" class="article-entry" itemprop="articleBody">
                    <span th:text="${article.content}"></span>
                </div>
                <footer class="article-footer">
                <div class="share-container" style="text-transform: none;">
                <i class="fa fa-tag"></i>
                <a class="tag-link" href="/tags/Spring-Boot/"><span th:text="${article.lable}"></span></a>
                </div>
                <a href="http://blog.didispace.com/spring-boot-1-5-x-feature-1/#comments" class="article-comment-link ds-thread-count" data-thread-key="spring-boot-1-5-x-feature-1">评论</a>
                </footer>
            </div>

        </article>
    </div>

    </div>

      <div class="col-xs-2 widget-wrap" style="margin-left: 2%;">
          <h3 class="widget-title">公告</h3>
          <div class="widget" style="margin-left: 2%;border: 2px;border-radius: 2px;box-shadow:0 0 10px #FCFCFC;background-color: white">
              <div class="article-entry" itemprop="articleBody">
                      欢迎有兴趣的朋友加入分享与交流经验。
              </div>
          </div>
          <h3 class="widget-title">分享</h3>
          <div class="widget">
              <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp">
                  <img style="width: 160px;height: 160px;" src="/image/logo.jpg" class="img-rounded" />
              </div>
          </div>
      </div>
</div>
  </body>
<script type="text/javascript">
    //获取当前网址，如： http://localhost:8088/test/test.jsp
    var curPath = window.document.location.href;
    //获取主机地址之后的目录，如： test/test.jsp
    var pathName = window.document.location.pathname;
    var pos = curPath.indexOf(pathName);
    //获取主机地址，如： http://localhost:8088
    var localhostPath = curPath.substring(0, pos);
    //获取带"/"的项目名，如：/test
    var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);

    var src = localhostPath + projectName;
$(function () {
    console.log(localhostPath);
    console.log("测试数据："+window.scrollTo(0,1));
})
</script>
 </html>